<hr style="margin-top: 5px; margin-bottom: 0px">
<div style="padding-top: 8px; padding: 5px; margin-bottom:5px ">
	<div class="mini-avatar" style="display:inline; float: left">
	  <%= image_tag pin.user.avatar.url(:mini) %>

	</div>
	<p style="display:inline"><%= pin.user.username %></p>

	<div style="float:right; display:inline">
	  <%= link_to({:action => 'repin', :id => pin.card.id, :desicription => pin.description}) do %>
	  	<%= image_tag('AddButton_small.png', :alt => 'Add Pin', :class => 'image_link' ) %>
	  <% end %>
	</div>

</div>

