  <%= form_tag searchpath, :class => "form-inline", :method => :get do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= button_tag(type: "submit", class: "btn btn-default") do %>
        <%= icon('search') %>
      <% end %> 
    </p>
  <% end %>