<% title "Delete Pins" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="places delete">
	<h2>Delete Pin</h2>

	<%= form_for(:pin, :url => pin_path(@pin.id), :html => {:method => :delete}) do |f|%>

		<p>Are you sure you want to permanently delete this place?</p>

		<p class="reference-name"><%= @pin.id %></p>

		<div class="form-buttons">
			<%= submit_tag("Delete Pin") %>
		</div>

	<% end %>
</div>