
<% title "My Pins" %>

<div style="position:absolute; top:42px; left: 0px; right:0px; bottom: 0px;">
  <div id="map" style='height:100%;'></div>
</div>

<!-- Note: markers are built in the pin controller -->
<script type="text/javascript">
	handler = Gmaps.build('Google', { markers: { maxRandomDistance: null } });
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
	  markers = handler.addMarkers(<%=raw @hash.to_json %>);
	  handler.bounds.extendWith(markers);
	  handler.fitMapToBounds();
	});
</script>
