<% title "Pin Details" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="cards  show">
	<h2><%= @card.place.name %></h2>
	<p><%= @card.place.location_type %></p>
	<p><%= @card.text %></p>

</div>