/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* Errors */

/* .field_with_erors { @extend .has-error; } */
.field_with_errors td { .has-error; } 
.field_with_errors label { color: #CC0000;} 
.field_with_errors input { background-color: #F0B2B2, border: 1px solid #AA0000;}
#errorExplanation {background-color: #F0B2B2; font-size: 12px; border: 12px #CC0000;}
#errorExplanation blockquote {border-left: 12px #CC0000;}
#errorExplanation h5 { color:#713838; }
#errorExplanation p { color:#713838; }
#errorExplanation td { color:#713838; }
#errorExplanation table { color:#713838; }
#errorExplanation tr { color:#713838; }

