.box {
  margin-top: 12px;
  margin: 0px;
  padding: 0px;
  padding-bottom: 5px;
  background: #FBFBFB;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 3px;
  border: 1px solid;
  box-shadow: 1px 1px 2px #A9A9A9;
  border-color: #A9A9A9;
  display: inline;
  width: 300px;
  color: #5E5E5E;
  display:inline;
}


.box img {
  width: 100%;
  border-radius: 0px;
}

.centered { margin: 0 auto; }
