<% title "Create New Pin" %>

<%= link_to("Back to List", {:controller => 'cards', :action => 'index'}, :class => 'btn back-link') %>

<div class="place new">

	<h2>Create a new Pin</h2>

	<%= form_for(:place, :url => {:action => 'create'}) do |f| %>

		<%= render(:partial => "form", :locals => {:f => f})  %>

		<br>

		<div id="photo_attachment_container">
			<div class="wrapper">
				<%= submit_tag("Create Pin") %>
			</div>
			<button class="btn btn-success">Create Pin</button>
		</div>

	<% end %>

</div>
