<!DOCTYPE html>
<html>
	<head>
	  <title>PinVoyage</title>
	</head>
	<body>
		<% if !flash[:notice].blank? %>
			<div class="notice">
				<%= flash[:notice] %>
			</div>
		<% end %>

		<!-- before yield -->
		<%= yield %>
		<!-- after yield -->

		<div id="footer">
			<p id="copyright">&copy; pinvoyage.com </p>
		</div>
	</body>
</html>
